<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.altervista.zhen.sightsingnow" >

    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".WelcomeScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PracticeActivity"
            android:label="@string/title_activity_practice"
            android:parentActivityName=".WelcomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.altervista.zhen.sightsingnow.WelcomeScreenActivity" />
        </activity>
        <activity
            android:name=".SelectDifficultyActivity"
            android:label="@string/title_activity_select_difficulty"
            android:parentActivityName=".WelcomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.altervista.zhen.sightsingnow.WelcomeScreenActivity" />
        </activity>
        <activity
            android:name=".SelectMusicActivity"
            android:label="@string/title_activity_select_music"
            android:parentActivityName=".SelectDifficultyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.altervista.zhen.sightsingnow.SelectDifficultyActivity" />
        </activity>
    </application>

</manifest>
